<!DOCTYPE html>
<html>
<head>
  <title>Dtc</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'layouts/user_widget' %>
	<%= yield %>


	<!-- //might remove this line, along with widget -->
	

</body>
</html>
