<h1>Projects Page/Index</h1>

<table>
	<thead>
		<th>Title</th>
		<th>Email</th>
		<th>Project Scope</th>
	</thead>
	<tbody>
		<% @projects.each do |project| %>
		<tr>
			<td><%= project.title %></td>
			<td><%= project.email %></td>
			<td><%= project.description %></td>
			<td><a href="<%= edit_project_path(project) %>">EDIT</a></td>
			<td><a href="<%= project_path(project) %>">SHOW</a></td>
			<td>
				<form action="<%= 'project_path(@project)' %>" method="delete">
					<input type="hidden" value="delete" name="_method">
					<button>DELETE</button>
				</form>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="<%= new_project_path %>">Contact us about your project</a>