

<a href="<%= root_path %>">Home Page</a>
<a href="<%= profiles_path %>">Profiles</a>

<div align="center">

<%= form_for @project do |f| %>

  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :email %>:
  <%= f.text_field :email %><br />

  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :description %>:
  <%= f.text_area :description %><br />

  <%= f.submit %>
<% end %>
<div>

	<!-- <form>

<div>
<ul>

<li><input type="text" name="email" id="email" placeholder="Enter your email address here!"></li>
<li><input type="text" name="title" id="title" maxlength="20" placeholder="Title"></li>
<li><input type="text" name="description" id="description" placeholder="project scope"></li>
<li><button type="submit">Submit new Project!</button></li>
</div>
</ul> 

<form>-->