<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<%= @employer.name %>
	
	<% @projects.each do |project| %>
		<p><%= "#{ project.name }" %></p>
		<p><%= "#{ project.email}" %></p>
		<p><%= "#{ project.title}" %></p>
		<%= "#{ project.description}" %>
	<% end %>
</body>
</html>