<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dtc</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Bowlby+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag  "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  <p>Welcome <%= current_user.name %></p>
  <%= link_to 'logout', destroy_user_session_path, :method => :delete %>
<% else %>
  <p>You are not signed in.</p>
  <%= link_to 'Login', new_user_session_path %>
<% end %>

 
    <%= yield %>

	

</body>
</html>
